<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Changes US</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Changes US</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2c1a653bf6ee48cda38b92a2314e4f73.png" alt="Changes US" usemap="#id-2c1a653bf6ee48cda38b92a2314e4f73map"/>
			   <map name="id-2c1a653bf6ee48cda38b92a2314e4f73map">
				  		<area shape="rect" coords="3932,560,4172,670" href="../elements/id-loc1.html"  target="element">
				  		<area shape="rect" coords="3956,356,4196,466" href="../elements/id-8f92cb26335e4b27b18434d324aa3abf.html"  target="element">
				  		<area shape="rect" coords="2920,944,3160,1054" href="../elements/id-544f168cec3044d2ad53e7aeaec85bb3.html"  target="element">
				  		<area shape="rect" coords="3236,356,3476,466" href="../elements/id-loc2.html"  target="element">
				  		<area shape="rect" coords="1772,668,2012,778" href="../elements/id-USAC22.html"  target="element">
				  		<area shape="rect" coords="2084,668,2324,778" href="../elements/id-USAC10.html"  target="element">
				  		<area shape="rect" coords="1412,400,1652,510" href="../elements/id-loc2.html"  target="element">
				  		<area shape="rect" coords="404,356,644,466" href="../elements/id-d564b5f921e34de69bbd502d91fae09a.html"  target="element">
				  		<area shape="rect" coords="1148,1052,1388,1162" href="../elements/id-b28fb8aa590a48c18125af3f19bb615c.html"  target="element">
				  		<area shape="rect" coords="740,1052,980,1162" href="../elements/id-c44a2d32659f44a68cd377c5ae8e3141.html"  target="element">
				  		<area shape="rect" coords="404,540,644,650" href="../elements/id-loc2.html"  target="element">
				  		<area shape="rect" coords="3908,72,4148,182" href="../elements/id-vs2p4.html"  target="element">
				  		<area shape="rect" coords="3596,72,3836,182" href="../elements/id-vs1p2.html"  target="element">
				  		<area shape="rect" coords="3596,716,3836,826" href="../elements/id-05b8c15c053643b2b5e1b13cc2de216b.html"  target="element">
				  		<area shape="rect" coords="3572,356,3812,466" href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html"  target="element">
				  		<area shape="rect" coords="3572,528,3812,638" href="../elements/id-32058c3a89df461a9bee4679c605207a.html"  target="element">
				  		<area shape="rect" coords="2920,720,3160,830" href="../elements/id-8858fc2bef0a489ab1e9723fd6ff1608.html"  target="element">
				  		<area shape="rect" coords="2896,72,3136,182" href="../elements/id-vs8p1.html"  target="element">
				  		<area shape="rect" coords="2896,540,3136,650" href="../elements/id-2b77c64bd07d45e8826031a3711eee8a.html"  target="element">
				  		<area shape="rect" coords="2896,356,3136,466" href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html"  target="element">
				  		<area shape="rect" coords="2492,48,2732,158" href="../elements/id-vs7p2.html"  target="element">
				  		<area shape="rect" coords="2492,356,2732,466" href="../elements/id-4795eef4a8e640c59bfee15171b0e866.html"  target="element">
				  		<area shape="rect" coords="2492,528,2732,638" href="../elements/id-6a65d083d7df436c9e515380ee09094c.html"  target="element">
				  		<area shape="rect" coords="2512,716,2752,826" href="../elements/id-4d421c6201e54278908610787a37d12c.html"  target="element">
				  		<area shape="rect" coords="2224,44,2464,154" href="../elements/id-vs7p1.html"  target="element">
				  		<area shape="rect" coords="1912,404,2152,514" href="../elements/id-USAS22.html"  target="element">
				  		<area shape="rect" coords="1912,44,2152,154" href="../elements/id-vs7p2.html"  target="element">
				  		<area shape="rect" coords="1220,44,1460,154" href="../elements/id-vs3p3.html"  target="element">
				  		<area shape="rect" coords="932,44,1172,154" href="../elements/id-vs1p2.html"  target="element">
				  		<area shape="rect" coords="1076,788,1316,898" href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html"  target="element">
				  		<area shape="rect" coords="1076,584,1316,694" href="../elements/id-85785f21eb3b4430a0fdd95c043a2476.html"  target="element">
				  		<area shape="rect" coords="1076,400,1316,510" href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html"  target="element">
				  		<area shape="rect" coords="380,20,620,130" href="../elements/id-vs2p1.html"  target="element">
				  		<area shape="rect" coords="20,788,260,898" href="../elements/id-72551679938b42ea94305a570f2bdc6d.html"  target="element">
				  		<area shape="rect" coords="20,400,260,510" href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html"  target="element">
				  		<area shape="rect" coords="20,584,260,694" href="../elements/id-acf8b4c82a1c410384d0d64c7352b32a.html"  target="element">
				  		<area shape="rect" coords="812,788,1052,898" href="../elements/id-8551986e7fb64553adb59f17bd099852.html"  target="element">
				  		<area shape="rect" coords="812,572,1052,682" href="../elements/id-0ca650486d024e5d87933b7c3ab31dc7.html"  target="element">
				  		<area shape="rect" coords="812,400,1052,510" href="../elements/id-e117a013e80a455cb827d53373225048.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e117a013e80a455cb827d53373225048.html" target="element"> OneHub-AS </a> </td>
											    <td> <a href="../elements/id-e117a013e80a455cb827d53373225048.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ca650486d024e5d87933b7c3ab31dc7.html" target="element"> OneHub </a> </td>
											    <td> <a href="../elements/id-0ca650486d024e5d87933b7c3ab31dc7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8551986e7fb64553adb59f17bd099852.html" target="element"> OneHub-IS </a> </td>
											    <td> <a href="../elements/id-8551986e7fb64553adb59f17bd099852.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-acf8b4c82a1c410384d0d64c7352b32a.html" target="element"> Engie 20/20 </a> </td>
											    <td> <a href="../elements/id-acf8b4c82a1c410384d0d64c7352b32a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html" target="element"> Engie 20/20-AS </a> </td>
											    <td> <a href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72551679938b42ea94305a570f2bdc6d.html" target="element"> Engie 20/20-IS </a> </td>
											    <td> <a href="../elements/id-72551679938b42ea94305a570f2bdc6d.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs2p1.html" target="element"> Communicating-Presenting-RFI handling </a> </td>
											    <td> <a href="../elements/id-vs2p1.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element"> My Engie Portal-AS </a> </td>
											    <td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85785f21eb3b4430a0fdd95c043a2476.html" target="element"> My Engie Portal </a> </td>
											    <td> <a href="../elements/id-85785f21eb3b4430a0fdd95c043a2476.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html" target="element"> My Engie Portal-IS </a> </td>
											    <td> <a href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs1p2.html" target="element"> Collecting Payments </a> </td>
											    <td> <a href="../elements/id-vs1p2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs3p3.html" target="element"> RFI Handling </a> </td>
											    <td> <a href="../elements/id-vs3p3.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs7p2.html" target="element"> Hedging (creating Forward) </a> </td>
											    <td> <a href="../elements/id-vs7p2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-USAS22.html" target="element"> IRIS-AS </a> </td>
											    <td> <a href="../elements/id-USAS22.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs7p1.html" target="element"> Booking </a> </td>
											    <td> <a href="../elements/id-vs7p1.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d421c6201e54278908610787a37d12c.html" target="element"> PowerOptix-IS </a> </td>
											    <td> <a href="../elements/id-4d421c6201e54278908610787a37d12c.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a65d083d7df436c9e515380ee09094c.html" target="element"> PowerOptix </a> </td>
											    <td> <a href="../elements/id-6a65d083d7df436c9e515380ee09094c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4795eef4a8e640c59bfee15171b0e866.html" target="element"> PowerOptix-AS </a> </td>
											    <td> <a href="../elements/id-4795eef4a8e640c59bfee15171b0e866.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs7p2.html" target="element"> Hedging (creating Forward) </a> </td>
											    <td> <a href="../elements/id-vs7p2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html" target="element"> FinStream-AS </a> </td>
											    <td> <a href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b77c64bd07d45e8826031a3711eee8a.html" target="element"> FinStream </a> </td>
											    <td> <a href="../elements/id-2b77c64bd07d45e8826031a3711eee8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs8p1.html" target="element"> Accounting </a> </td>
											    <td> <a href="../elements/id-vs8p1.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8858fc2bef0a489ab1e9723fd6ff1608.html" target="element"> FinStream-IS </a> </td>
											    <td> <a href="../elements/id-8858fc2bef0a489ab1e9723fd6ff1608.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32058c3a89df461a9bee4679c605207a.html" target="element"> CRAFT </a> </td>
											    <td> <a href="../elements/id-32058c3a89df461a9bee4679c605207a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element"> CRAFT-AS </a> </td>
											    <td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05b8c15c053643b2b5e1b13cc2de216b.html" target="element"> CRAFT-IS </a> </td>
											    <td> <a href="../elements/id-05b8c15c053643b2b5e1b13cc2de216b.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs1p2.html" target="element"> Collecting Payments </a> </td>
											    <td> <a href="../elements/id-vs1p2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-vs2p4.html" target="element"> Potential Client Information Purchasing </a> </td>
											    <td> <a href="../elements/id-vs2p4.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
											    <td> <a href="../elements/id-loc2.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c44a2d32659f44a68cd377c5ae8e3141.html" target="element"> .NET </a> </td>
											    <td> <a href="../elements/id-c44a2d32659f44a68cd377c5ae8e3141.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b28fb8aa590a48c18125af3f19bb615c.html" target="element"> Azure Functions </a> </td>
											    <td> <a href="../elements/id-b28fb8aa590a48c18125af3f19bb615c.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d564b5f921e34de69bbd502d91fae09a.html" target="element"> SaaS Watch Waire/Energy Watch </a> </td>
											    <td> <a href="../elements/id-d564b5f921e34de69bbd502d91fae09a.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
											    <td> <a href="../elements/id-loc2.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-USAC10.html" target="element"> IRIS Front-End/CICADA </a> </td>
											    <td> <a href="../elements/id-USAC10.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-USAC22.html" target="element"> IRIS </a> </td>
											    <td> <a href="../elements/id-USAC22.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
											    <td> <a href="../elements/id-loc2.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-544f168cec3044d2ad53e7aeaec85bb3.html" target="element"> Azure SQL </a> </td>
											    <td> <a href="../elements/id-544f168cec3044d2ad53e7aeaec85bb3.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f92cb26335e4b27b18434d324aa3abf.html" target="element"> SaaS Enerex </a> </td>
											    <td> <a href="../elements/id-8f92cb26335e4b27b18434d324aa3abf.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-loc1.html" target="element"> AWS Cloud </a> </td>
											    <td> <a href="../elements/id-loc1.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c83838eee0a9462abd6f5b8de260cda1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c83838eee0a9462abd6f5b8de260cda1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e117a013e80a455cb827d53373225048.html" target="element"> OneHub-AS </a> </td>
																		<td> <a href="../elements/id-vs2p1.html" target="element"> Communicating-Presenting-RFI handling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6d5dbce36ba24881be84acbd329dbbc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d5dbce36ba24881be84acbd329dbbc3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ca650486d024e5d87933b7c3ab31dc7.html" target="element"> OneHub </a> </td>
																		<td> <a href="../elements/id-e117a013e80a455cb827d53373225048.html" target="element"> OneHub-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-162fac0da35c44619d5433828e2c96e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-162fac0da35c44619d5433828e2c96e6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8551986e7fb64553adb59f17bd099852.html" target="element"> OneHub-IS </a> </td>
																		<td> <a href="../elements/id-0ca650486d024e5d87933b7c3ab31dc7.html" target="element"> OneHub </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d713cebcdb174b5fbd8f3485e543ff6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d713cebcdb174b5fbd8f3485e543ff6b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-acf8b4c82a1c410384d0d64c7352b32a.html" target="element"> Engie 20/20 </a> </td>
																		<td> <a href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html" target="element"> Engie 20/20-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d49b62a6c9e04b93afb8d6eda2cb9607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d49b62a6c9e04b93afb8d6eda2cb9607.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html" target="element"> Engie 20/20-AS </a> </td>
																		<td> <a href="../elements/id-vs2p1.html" target="element"> Communicating-Presenting-RFI handling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b098f94c0f8d4ac1a6683e291868e3b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b098f94c0f8d4ac1a6683e291868e3b3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72551679938b42ea94305a570f2bdc6d.html" target="element"> Engie 20/20-IS </a> </td>
																		<td> <a href="../elements/id-acf8b4c82a1c410384d0d64c7352b32a.html" target="element"> Engie 20/20 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7bbe0fbd49d64c80b690af6adfc8484e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bbe0fbd49d64c80b690af6adfc8484e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element"> My Engie Portal-AS </a> </td>
																		<td> <a href="../elements/id-vs1p2.html" target="element"> Collecting Payments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc327c7836d44919b214e2a56c1cab69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc327c7836d44919b214e2a56c1cab69.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element"> My Engie Portal-AS </a> </td>
																		<td> <a href="../elements/id-vs3p3.html" target="element"> RFI Handling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2aa9b9544294f36aff3b27f7bb5842c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2aa9b9544294f36aff3b27f7bb5842c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85785f21eb3b4430a0fdd95c043a2476.html" target="element"> My Engie Portal </a> </td>
																		<td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element"> My Engie Portal-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-08f3337cde03402b920333f2ff4a63fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08f3337cde03402b920333f2ff4a63fe.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html" target="element"> My Engie Portal-IS </a> </td>
																		<td> <a href="../elements/id-85785f21eb3b4430a0fdd95c043a2476.html" target="element"> My Engie Portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e6efb387668b4110a8439b4caf720b19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6efb387668b4110a8439b4caf720b19.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-USAS22.html" target="element"> IRIS-AS </a> </td>
																		<td> <a href="../elements/id-vs7p2.html" target="element"> Hedging (creating Forward) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-USAGG1211.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-USAGG1211.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-USAS22.html" target="element"> IRIS-AS </a> </td>
																		<td> <a href="../elements/id-vs7p1.html" target="element"> Booking </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c4db02ebb37b4ec9832bafef398a0ce2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4db02ebb37b4ec9832bafef398a0ce2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d421c6201e54278908610787a37d12c.html" target="element"> PowerOptix-IS </a> </td>
																		<td> <a href="../elements/id-6a65d083d7df436c9e515380ee09094c.html" target="element"> PowerOptix </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1f36cef1b0f4f4faae793885b4024a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1f36cef1b0f4f4faae793885b4024a9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a65d083d7df436c9e515380ee09094c.html" target="element"> PowerOptix </a> </td>
																		<td> <a href="../elements/id-4795eef4a8e640c59bfee15171b0e866.html" target="element"> PowerOptix-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-200c06f7346d4cbba61dba50f31810c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-200c06f7346d4cbba61dba50f31810c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4795eef4a8e640c59bfee15171b0e866.html" target="element"> PowerOptix-AS </a> </td>
																		<td> <a href="../elements/id-vs7p2.html" target="element"> Hedging (creating Forward) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-624e859ba8514dae91b7cdc7fb6deab7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-624e859ba8514dae91b7cdc7fb6deab7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html" target="element"> FinStream-AS </a> </td>
																		<td> <a href="../elements/id-vs8p1.html" target="element"> Accounting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cdc9295ff3ff47dea63c7ed07f8e6acd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdc9295ff3ff47dea63c7ed07f8e6acd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b77c64bd07d45e8826031a3711eee8a.html" target="element"> FinStream </a> </td>
																		<td> <a href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html" target="element"> FinStream-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-70bd0b1c75014e3894f6fe95f4d438cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70bd0b1c75014e3894f6fe95f4d438cd.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8858fc2bef0a489ab1e9723fd6ff1608.html" target="element"> FinStream-IS </a> </td>
																		<td> <a href="../elements/id-2b77c64bd07d45e8826031a3711eee8a.html" target="element"> FinStream </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eab04e60a13142cba64e7de269a0958d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eab04e60a13142cba64e7de269a0958d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32058c3a89df461a9bee4679c605207a.html" target="element"> CRAFT </a> </td>
																		<td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element"> CRAFT-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d3f0abf69a84f269ad1552bbe5e370f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d3f0abf69a84f269ad1552bbe5e370f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element"> CRAFT-AS </a> </td>
																		<td> <a href="../elements/id-vs1p2.html" target="element"> Collecting Payments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06229e250c094006993363956c92dcbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06229e250c094006993363956c92dcbd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element"> CRAFT-AS </a> </td>
																		<td> <a href="../elements/id-vs2p4.html" target="element"> Potential Client Information Purchasing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5033ac311dc413eaca3b6a27c5470f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5033ac311dc413eaca3b6a27c5470f8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05b8c15c053643b2b5e1b13cc2de216b.html" target="element"> CRAFT-IS </a> </td>
																		<td> <a href="../elements/id-32058c3a89df461a9bee4679c605207a.html" target="element"> CRAFT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1222440e69964b0996fb375dd8fe314e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1222440e69964b0996fb375dd8fe314e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
																		<td> <a href="../elements/id-e117a013e80a455cb827d53373225048.html" target="element"> OneHub-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c716e69fb034f16ad740181fd54bf53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c716e69fb034f16ad740181fd54bf53.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c44a2d32659f44a68cd377c5ae8e3141.html" target="element"> .NET </a> </td>
																		<td> <a href="../elements/id-8551986e7fb64553adb59f17bd099852.html" target="element"> OneHub-IS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-707990112c974f06bdac354f05996d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-707990112c974f06bdac354f05996d05.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c44a2d32659f44a68cd377c5ae8e3141.html" target="element"> .NET </a> </td>
																		<td> <a href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html" target="element"> My Engie Portal-IS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1edb1d0893ec457b81b84d2ad669be4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1edb1d0893ec457b81b84d2ad669be4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b28fb8aa590a48c18125af3f19bb615c.html" target="element"> Azure Functions </a> </td>
																		<td> <a href="../elements/id-8551986e7fb64553adb59f17bd099852.html" target="element"> OneHub-IS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cffae741607b474e984d678a9f291f1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cffae741607b474e984d678a9f291f1e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b28fb8aa590a48c18125af3f19bb615c.html" target="element"> Azure Functions </a> </td>
																		<td> <a href="../elements/id-d7fb596c07a940e59a2f21ffd5d9bdc4.html" target="element"> My Engie Portal-IS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3885c9064d44f61983fa4e58af1b19b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3885c9064d44f61983fa4e58af1b19b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d564b5f921e34de69bbd502d91fae09a.html" target="element"> SaaS Watch Waire/Energy Watch </a> </td>
																		<td> <a href="../elements/id-d4df523d66e948c3b4678adcb8c5ad1d.html" target="element"> Engie 20/20-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1795ee68a5d04420a5a76a81edf3d5c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1795ee68a5d04420a5a76a81edf3d5c1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
																		<td> <a href="../elements/id-8f0ff7f0686b42939a37db8d22968f85.html" target="element"> My Engie Portal-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-USRZ22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-USRZ22.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-USAC22.html" target="element"> IRIS </a> </td>
																		<td> <a href="../elements/id-USAS22.html" target="element"> IRIS-AS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdc1de0a3d8341238facb41608a29430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdc1de0a3d8341238facb41608a29430.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-USAC22.html" target="element"> IRIS </a> </td>
																		<td> <a href="../elements/id-USAC10.html" target="element"> IRIS Front-End/CICADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e50f6a0cef054735ad476fb22353ea3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e50f6a0cef054735ad476fb22353ea3c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-loc2.html" target="element"> Azure Cloud </a> </td>
																		<td> <a href="../elements/id-18c2091f9ffb41c79123aab4dbacee0c.html" target="element"> FinStream-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3fb1f43e378e4fb7aa4f776cb4574bfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fb1f43e378e4fb7aa4f776cb4574bfe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-544f168cec3044d2ad53e7aeaec85bb3.html" target="element"> Azure SQL </a> </td>
																		<td> <a href="../elements/id-8858fc2bef0a489ab1e9723fd6ff1608.html" target="element"> FinStream-IS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-40ea22cba4f3478290b307609b652595.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40ea22cba4f3478290b307609b652595.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f92cb26335e4b27b18434d324aa3abf.html" target="element"> SaaS Enerex </a> </td>
																		<td> <a href="../elements/id-81801dac3f56476dbea99c0cba0997ea.html" target="element"> CRAFT-AS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5fb2e63219d4208bafa0625e5040861.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5fb2e63219d4208bafa0625e5040861.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-loc1.html" target="element"> AWS Cloud </a> </td>
																		<td> <a href="../elements/id-8f92cb26335e4b27b18434d324aa3abf.html" target="element"> SaaS Enerex </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>